@{
    ViewData["Title"] = "Home Page";
}
<style>
    #cards {
        margin-left: 1em;
    }

    .card {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        width: 100px;
        height: 100px;
        float: left;
        color: white;
        text-align: center;
        vertical-align: central;
        hyphens: manual;
    }

    .cardPeeking {
        background-color: rgb(128, 128, 255);
    }

    .cardCovered {
        background-color: red;
    }

    .cardUncovered {
        background-color: blue;
    }

    .cardPlaying {
        border: green;
        border-width: 5px;
        border-style: solid;
    }


    .row {
        clear: both;
    }

    .hidden {
        visibility: collapse;
    }
</style>

<div id="pre-game">
    <h2>
        Game
    </h2>
    <p>
        Welcome to the acoustic memory game Match-Match Animal Individuals!
    </p>

    <p>
        After clicking on a card you will hear a call from an individual animal. Your task is to
        match a pair of cards with the same acoustic signature and hence belonging to the
        same individual. Match individuals of Little owls and one of our four fictional owl
        species. The game variant was selected at random for you.
    </p>

    <p id="game-description"></p>
</div>

<div id="cards">
    <div class="row">
        <div id="card0" class="card"></div>
        <div id="card1" class="card"></div>
        <div id="card2" class="card"></div>
    </div>
    <div class="row">
        <div id="card3" class="card"></div>
        <div id="card4" class="card"></div>
        <div id="card5" class="card"></div>
    </div>
    <div class="row">
        <div id="card6" class="card"></div>
        <div id="card7" class="card"></div>
        <div id="card8" class="card"></div>
    </div>
    <div class="row">
        <div id="card9" class="card"></div>
        <div id="card10" class="card"></div>
        <div id="card11" class="card"></div>
    </div>
</div>

<div id="finished-game" class="hidden">
    <h2>Game finished</h2>
    <p>
        Well done! You matched all individuals of <b id="species-name"></b>.
    </p>

    <p>
        You have finished the game in <b id="stats-current-turns"></b> turns.
    </p>
    <p>
        The best result for this game achieved by a real player is <b id="stats-best-turns"></b> turns.
    </p>
    <p>
        Your result was better than the result achieved by <b id="stats-better-than-percentage"></b> percent of players.
    </p>

    <div class="form-group">
        <label for="nickname">Enter your nick name to identify your games:</label>
        <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Nickname" width="64" style="max-width:32em" />
    </div>
    <div class="form-group">
        <label for="email">
            Enter your email if you want to be notified about results of this pilot experiment and
            possible follow-up game variants:
        </label>
        <input type="text" name="email" id="email" class="form-control" placeholder="Email" width="64" style="max-width:32em" />
    </div>
</div>

<div>
    <h2>Choose your game</h2>
    <ul>
        <li><a href="/Home/Index/littleowl">Little Owl</a></li>
        <li><a href="/Home/Index/3vars">Sleepy UFO Owl</a></li>
        <li><a href="/Home/Index/10vars">Drunken UFO Owl</a></li>
        <li><a href="/Home/Index/hs33-10vars">Common UFO Owl</a></li>
        <li><a href="/Home/Index/hs33-10vars-long">Lazy UFO Owl</a></li>
    </ul>
</div>

<script>
        startGame("@ViewData["speciesId"]");
</script>

