@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        width: 100px;
        height: 100px;
        float: left;
        color: white;
        text-align: center;
        vertical-align: central;
        hyphens: manual;
    }

    .cardPeeking {
        background-color: rgb(128, 128, 255);
    }

    .cardCovered {
        background-color: red;
    }

    .cardUncovered {
        background-color: blue;
    }

    .cardPlaying {
        border: green;
        border-width: 5px;
        border-style: solid;
    }


    .row {
        clear: both;
    }

    .hidden {
        visibility: collapse;
    }
</style>

<div id="pre-game">
    <h2>
        Game
    </h2>
    <p>
        Welcome to the acoustic memory game Match-Match Animal Individuals!
    </p>

    <p>
        After clicking on a card you will hear a call from an individual animal. Your task is to
        match a pair of cards with the same acoustic signature and hence belonging to the
        same individual.
    </p>

    <h2>
        Get Ready!
    </h2>

    <p id="game-description"></p>
</div>

<div id="cards">
    <div class="row">
        <div id="card0" class="card"></div>
        <div id="card1" class="card"></div>
        <div id="card2" class="card"></div>
    </div>
    <div class="row">
        <div id="card3" class="card"></div>
        <div id="card4" class="card"></div>
        <div id="card5" class="card"></div>
    </div>
    <div class="row">
        <div id="card6" class="card"></div>
        <div id="card7" class="card"></div>
        <div id="card8" class="card"></div>
    </div>
    <div class="row">
        <div id="card9" class="card"></div>
        <div id="card10" class="card"></div>
        <div id="card11" class="card"></div>
    </div>
</div>

<div id="finished-game" class="hidden">
    <h2>Game finished</h2>
    <p>
        Well done!
    </p>

    <p>
        The lowest theoretical number of necessary turns in this game is <span id="stats-lowest-turns"></span>.
    </p>
    <p>
        You have finished the game in <span id="stats-current-turns"></span> turns.
    </p>
    <p>
        The best result for this game achieved by a real player is <span id="stats-best-turns"></span> turns.
    </p>

    <p>
        Your result was better than the result achieved by <span id="stats-better-than-percentage"></span> percent of players.
    </p>

    <p>
        Enter your nick name to make your result stand out: <br />
        <input type="text" name="nickname" id="nickname" />
    </p>

    <p>
        Enter your email if you want to be notified about results of this pilot experiment and
        possible follow-up game variants: <br />
        <input type="text" name="email" id="email" />
    </p>
</div>

<div>
    <h2>Choose your game</h2>
    <ul>
        <li><a href="/Home/Index/littleowl">Little Owl</a></li>
        <li><a href="/Home/Index/3vars">3vars Owl</a></li>
        <li><a href="/Home/Index/10vars">10vars Owl</a></li>
    </ul>
</div>

<script>
        startGame("@ViewData["speciesId"]");
</script>

