@{
    ViewData["Title"] = "Game Results";
}
<h2>Game Results</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Thank you for playing!
</p>

<p>
    Analysis of results will allow us to test what is the most efficient design of acoustic
    individual signatures. Did you find it easier or harder to match individuals in different
    species?
</p>

<p>
Mean number of turns in Little owls (Athene noctua): <span id="stats-littleowl"></span>
</p>

<p>
    Mean number of turns in XXXX owl (our invented species): <span id="stats-10vars"></span>
</p>

<p>
    Mean numer of turns in XXXX owl (our invented species): <span id="stats-3vars"></span>
</p>

<p>
    If you want to know more about how individual identity is signalled in animal signals,
    about little owls, or conservation of little owls in Czech republic you can visit related
    websites and Facebook pages: <a href="https://evolutionofidentitysignaling.com/">https://evolutionofidentitysignaling.com/</a>
</p>

<script>
    fillAllGameStatistics("#stats-littleowl", "littleowl");
    fillAllGameStatistics("#stats-10vars", "10vars");
    fillAllGameStatistics("#stats-3vars", "3vars");
</script>