@{
    ViewData["Title"] = "Game Results";
}
<h2>Game Results</h2>
<h3>@ViewData["Message"]</h3>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.1&appId=765753166815134&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<p>
    Thank you for playing!
</p>

<p>
    Analysis of results will allow us to test what is the most efficient design of acoustic
    individual signatures. Did you find it easier or harder to match individuals in different
    species?
</p>

<h4>
    Find more information here:
</h4>

<ul>
    <li>
        <a href="https://evolutionofidentitysignaling.com/">Evolution of identity signalling in vocalizations</a><br/>
        <div class="fb-like" data-href="https://www.facebook.com/evolutionofidentitysignaling/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </li>
    <li>
        <a href="https://www.birdlife.cz/co-delame/vyzkum-a-ochrana-ptaku/ochrana-druhu/sycek-obecny/">
            Conservation of Little owls in Czech Republic
        </a><br />
        <div class="fb-like" data-href="https://www.facebook.com/OchranaSycka/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </li>
    <li>
        <a href="https://en.wikipedia.org/wiki/Little_owl">Little owl</a>
    </li>
</ul>

<p>
    Mean number of turns in Little owls (Athene noctua): <span id="stats-littleowl"></span>
</p>

<p>
    Mean number of turns in XXXX owl (our invented species): <span id="stats-10vars"></span>
</p>

<p>
    Mean numer of turns in XXXX owl (our invented species): <span id="stats-3vars"></span>
</p>

<p>
    If you want to know more about how individual identity is signalled in animal signals,
    about little owls, or conservation of little owls in Czech republic you can visit related
    websites and Facebook pages: <a href="https://evolutionofidentitysignaling.com/">https://evolutionofidentitysignaling.com/</a>
</p>

<script>
    fillAllGameStatistics("#stats-littleowl", "littleowl");
    fillAllGameStatistics("#stats-10vars", "10vars");
    fillAllGameStatistics("#stats-3vars", "3vars");
</script>