@{
    ViewData["Title"] = "Game Results";
}
<h2>Game Results</h2>
<h3>@ViewData["Message"]</h3>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.1&appId=765753166815134&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<p>
    Thank you for playing!
</p>

<p>
    Analysis of results will allow us to test what is the most efficient design of acoustic
    individual signatures. Did you find it easier or harder to match individuals in different
    species?
</p>

<h4>
    Find more information here:
</h4>

<ul>
    <li>
        <a href="https://evolutionofidentitysignaling.com/">Evolution of identity signalling in vocalizations</a><br />
        <div class="fb-like" data-href="https://www.facebook.com/evolutionofidentitysignaling/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </li>
    <li>
        <a href="https://www.birdlife.cz/co-delame/vyzkum-a-ochrana-ptaku/ochrana-druhu/sycek-obecny/">
            Conservation of Little owls in Czech Republic
        </a><br />
        <div class="fb-like" data-href="https://www.facebook.com/OchranaSycka/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </li>
    <li>
        <a href="https://en.wikipedia.org/wiki/Little_owl">Little owl</a>
    </li>
</ul>

<div id="leaderboard-littleowl" class="hidden">
    <h4 id="leaderboard-littleowl-name"></h4>
    <p>
        Mean number of turns in Little owls (Athene noctua): <span id="stats-littleowl"></span>
    </p>
    <table id="leaderboard-littleowl-table" style="width:100%">
        <tr>
            <th>Nickname</th>
            <th>Turns</th>
        </tr>
    </table>
</div>

<div id="leaderboard-10vars" class="hidden">
    <h4 id="leaderboard-10vars-name"></h4>
    <p>
        Mean number of turns in Drunken UFO Owl: <span id="stats-10vars"></span>
    </p>
    <table id="leaderboard-10vars-table" style="width:100%">
        <tr>
            <th>Nickname</th>
            <th>Turns</th>
        </tr>
    </table>
</div>

<div id="leaderboard-3vars" class="hidden">
    <h4 id="leaderboard-3vars-name"></h4>
    <p>
        Mean numer of turns in Sleepy UFO Owl: <span id="stats-3vars"></span>
    </p>
    <table id="leaderboard-3vars-table" style="width:100%">
        <tr>
            <th>Nickname</th>
            <th>Turns</th>
        </tr>
    </table>
</div>

<div id="leaderboard-hs33-10vars" class="hidden">
    <h4 id="leaderboard-hs33-10vars-name"></h4>
    <p>
        Mean numer of turns in Common UFO Owl: <span id="stats-hs33-10vars"></span>
    </p>
    <table id="leaderboard-hs33-10vars-table" style="width:100%">
        <tr>
            <th>Nickname</th>
            <th>Turns</th>
        </tr>
    </table>
</div>

<div id="leaderboard-hs33-10vars-long" class="hidden">
    <h4 id="leaderboard-hs33-10vars-long-name"></h4>
    <p>
        Mean numer of turns in Lazy UFO Owl: <span id="stats-hs33-10vars-long"></span>
    </p>
    <table id="leaderboard-hs33-10vars-long-table" style="width:100%">
        <tr>
            <th>Nickname</th>
            <th>Turns</th>
        </tr>
    </table>
</div>

<script>
    fillAllGameStatistics("#stats-littleowl", "littleowl");
    fillLeaderBoard("littleowl", "#leaderboard-littleowl");

    fillAllGameStatistics("#stats-10vars", "10vars");
    fillLeaderBoard("10vars", "#leaderboard-10vars")

    fillAllGameStatistics("#stats-3vars", "3vars");
    fillLeaderBoard("3vars", "#leaderboard-3vars");

    fillAllGameStatistics("#stats-hs33-10vars", "hs33-10vars");
    fillLeaderBoard("hs33-10vars", "#leaderboard-hs33-10vars");

    fillAllGameStatistics("#stats-hs33-10vars-long", "hs33-10vars-long");
    fillLeaderBoard("hs33-10vars-long", "#leaderboard-hs33-10vars-long");
</script>